@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: white;
}

.titulo{
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightblue;
    background-image: url('../imgs/titulo.jpg');
    color:#fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 50px 0;
    
}

footer{
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    font-weight: 700;
    text-align: center;
    background-color: lightblue;
    color: #fff;
}

article{
    display: flex;
    align-items: center;
    gap: 15px
}

article > img {
    width: 500px;
    margin-left: 100px;
    margin-bottom: 50px;
}
